.videoplayer{
    margin: 0 auto;
    width: 400px;
}

.menuoptions a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.menuoptions a:visited, a:link {
  color: #334953;
}
.menuoptions a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
.menuoptions a.active {
  color: #039be5;
}

.videouploader{
  padding: 5px 10px;
  margin-top: 5px;;
}