<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand" href="#">
        <img src="https://i.ytimg.com/vi/BfH_zx2bd50/maxresdefault.jpg" width="150" height="60" class="d-inline-block align-top" alt="">
      </a>
      <nav class="navbar navbar-light bg-dark">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button class="btn btn-outline-success" type="button">Home</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Videos</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">User</button>
      </form>
    </nav>
    
  <div class="videoplayer">
    <h1>Video title</h1>
    <video class="library" controls preload="auto" data-config="some-js-object-here">
      <source src="" type='video/mp4'>
    </video>
    <script src="video-library.js"></script>
    <p>Video description</p>
    <textarea cols="50" rows="5">
    Comments... 
    </textarea>
      
  </div>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <p>A SpringBoot Video Sharing App by Mike, Ron, Jack, and Ben</p>
  </nav>
  </body>
</html>