
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand" href="#">
        <img class="youflixlogo" src="https://github.com/rond556/youflixfrontend/blob/master/src/assets/YouFlixLogo.jpg?raw=true">
      </a>
      <nav class="navbar navbar-light bg-dark">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <form class="menuoptions">
        <a routerLink="/home">Home</a>
        <a routerLink="/uploads">Upload</a>
        <a routerLink="/video">Videos</a>
        <a routerLink="/user">User</a>
      </form>
    </nav>

    <router-outlet></router-outlet>




    

  <nav id = "footer" class="navbar fixed-bottom navbar-light bg-light">
    <p>A SpringBoot Video Sharing App by Mike, Ron, Jack, and Ben</p>
  </nav>